<h1>Add a Cake</h1>

<form (submit)="create()" autocomplete="off">

    <div class="mb-3">
        <label class="form-label" for="cake-name">Name</label>
        <input class="form-control" type="text" name="cake-name" [(ngModel)]="cake.name">
        <div *ngIf="nameError" class="text-danger form-error">{{ nameError }}</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="cake-comment">Comment</label>
        <input class="form-control" type="text" name="cake-comment" [(ngModel)]="cake.comment">
        <div *ngIf="commentError" class="text-danger form-error">{{ commentError }}</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="cake-imageUrl">Image URL</label>
        <input class="form-control" type="text" name="cake-imageUrl" [(ngModel)]="cake.imageUrl">
        <div *ngIf="imageUrlError" class="text-danger form-error">{{ imageUrlError }}</div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="cake-yumFactor">Yum Factor</label>
        <input class="form-control" type="text" name="cake-yumFactor" [(ngModel)]="cake.yumFactor">
        <div *ngIf="yumFactorError" class="text-danger form-error">{{ yumFactorError }}</div>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Add Cake</button>
        <a class="btn btn-link" routerLink="/cakes">Cancel</a>
    </div>

</form>